<h1>Manage your Users!</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
